/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */

:root {
    --backgroung-color: #FFF;
    --accent-color:  #FFFFFF;
    --additional-accent: #2196F3;
    --text-color: #757575;
    --footer: #2F303A;
    --background-section: #F5F4FA;
    --head-text: #212121;
    --href-moments: #2196F3;
    --web-studio: #000000; 
}

body {
    font-family: "Roboto";
    color: var(--head-text);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}

  header {
    padding-top: 25px;
    padding-bottom: 25px;
}


.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.header-box {
    display: flex;
    align-items: center;
}

.logos {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.nav-link {
    font-family: "Roboto", sans-serif;
}
.header-contact {
    font-family: "Roboto", sans-serif;
}


.logo-span {
    color: var(--href-moments);
    margin-left: 0%;
    transition: margin-left 0.4s ease;
}

.logos {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--web-studio);
    margin-right: 0px;
    transition: margin-right 0.4s ease;
    margin-right: 93px;
}

.logos:hover {
    margin-right: 20px;
}

.logo-span:hover {
    margin-left: -10px;
}

.header-nav{
    display: flex;
    margin-right: auto;
}


.header-list {
    display: flex;
    gap: 50px;
}


.list-caption{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--head-text);
}

.list-caption:active {
    color: var(--additional-accent);
}

.nav-link {
    color: var(--head-text);

}

.nav-link:hover,
.nav-link:focus {
    color: var(--href-moments);
    font-weight: 700;
}

.nav-link:active {
    color: var(--href-moments);
}

.list-description {
    display: flex;
    gap: 50px;
}

.header-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--href-moments);
}

.section-hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url('../images/photohero.jpg');
}
.main-hero {
    max-width: 696px;
    margin:0 auto ;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--accent-color);
}
.main-hero:hover {
    color:#757575

}


.button-main {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    transition: border-radius 0.4s ease;
    background-color: var(--additional-accent);
    color: var(--accent-color);
    padding: 10px 32px;
}

.button-main:hover,
.button-main:focus {
    border-radius: 15px;
  background-color: var(--accent-color);
  color: var(--additional-accent) 
}

.main-text {
    padding-top: 94px;
    padding-bottom: 94px;
}

.description-texxt {
    display: none;
}

.text-item {
    display: flex; 
    gap: 30px;
}

.main-item:before {
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/icon-antena.png);
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.main-item:nth-child(2)::before {
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/icon-clock.png);
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.main-item:nth-child(3)::before {
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/icon-diagram.png);
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.main-item:nth-child(4)::before {
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/icon-astronaut.png);
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.texxt {
    font-weight: 700;
    font-size: 14px;
    transition: font-size 0.4s ease;
    line-height: 1.14;
    margin-bottom: 10px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.texxt:hover {
    font-size: 16px;
}

.descript-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    font-size: 14px;
    transition: font-size 0.4s ease;
}
 
.work-section {
    padding-bottom: 94px;
}


.work-item {
    font-weight: 700;
    font-size: 36px;
    transition: font-size 0.3s ease;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

}
.work-item:hover {
    font-size: 40px;
}

.text-workkk {
    display: flex;
    gap: 30px;
}

.works{
    gap: 30px;
    position: relative;
}

.moderning {
    transition: margin-top 0.4s ease;
    width: 100%;
}


.moderning:hover {
    margin-top: 20px;
}

.work-text-posicion {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.work-texttt {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
  

.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-section);
}

.comand-team{
    font-weight: 700;
    font-size: 36px;
    transition: font-size 0.4s ease;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.comand-team:hover {
    font-size: 40px;
    letter-spacing: 0.06em;
}
.comand-lists {
    display: flex;
    max-width: 1170px;
    gap: 30px;
}
.workk-itemm {
    background-color: var(--accent-color);
    transition: margin-top 0.4s ease;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}
.workk-itemm:hover {
margin-top: 23px;
.team-name {
    font-size: 20px;
    transition: font-size 0.5s ease
}
}

.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-job {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

footer {
    background-color: var(--footer);
    padding-top: 60px;
    padding-bottom: 60px;
    
}


.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.blue-Web {
    color: var(--additional-accent);
}

.easy-boom {
    margin-top: 20px;
}

.easy-boom {
    transition: margin-left 0.3s ease;
}
  
.easy-boom:hover {
    margin-left: 40px;
}

.footer-mailtro {
    margin-top: 9px;
    margin-bottom: 9px;
}

.footer-mailtro:last-child {
    margin-bottom: 0;
}

.footer-cont {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--text-color);
    
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--accent-color);
}

