/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */

:root {
    --backgroung-color: #FFF;
    --accent-color:  #FFFFFF;
    --additional-accent: #2196F3;
    --text-color: #757575;
    --footer: #2F303A;
    --background-section: #F5F4FA;
    --head-text: #212121;
    --href-moments: #2196F3;
    --web-studio: #000000; 
    --social-networks: #AFB1B8;
    --networks-background: rgba(255, 255, 255, 0.10);

}

body {
    font-family: "Roboto";
    color: var(--head-text);
}
address {
    font-style: normal;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}

  header {
    padding-top: 25px;
    padding-bottom: 25px;
}


.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.header-box {
    display: flex;
    align-items: center;
}


.nav-link {
    font-family: "Roboto", sans-serif;
}
.header-contact {
    font-family: "Roboto", sans-serif;
}


.logo-span {
    color: var(--href-moments);
}

.logos {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--web-studio);
    margin-right: 0px;
    transition: margin-right 0.4s ease;
    margin-right: 93px;
}

.header-nav{
    display: flex;
    margin-right: auto;
}


.header-list {
    display: flex;
    gap: 50px;
}

.list-caption{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--head-text);
}

.list-caption:active {
    color: var(--additional-accent);
}

.nav-link {
    color: var(--head-text);

}

.nav-link:hover,
.nav-link:focus {
    color: var(--href-moments);
    font-weight: 700;
}

.nav-link:active {
    color: var(--href-moments);
}

.active {
    color: var(--additional-accent);
}

.list-description {
    display: flex;
    gap: 50px;
}

.logo-email {
    fill: var(--text-color);
    width: 16px;
    height: 12px;

}

.contact-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-contact {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);

}


.header-contact:hover,
.header-contact:focus {
  color: var(--href-moments);
.logo-email {
    fill: var(--additional-accent);
    width: 16px;
    height: 12px;
}
.logo-phone {
    fill: var(--additional-accent);
}
}

.logo-phone {
    fill: var(--text-color);
    width: 10px;
    height: 16px;
}

.section-hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.40),rgba(47, 48, 58, 0.40)), url(../images/photohero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-hero {
    max-width: 696px;
    margin:0 auto ;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--accent-color);
}
.main-hero:hover {
    color: var(--text-color)

}


.button-main {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    transition: border-radius 0.4s ease;
    background-color: var(--additional-accent);
    color: var(--accent-color);
    padding: 10px 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-main:hover,
.button-main:focus {
  background-color: var(--accent-color);
  color: var(--additional-accent) 
}

.main-text {
    padding-top: 94px;
    padding-bottom: 94px;
}

.description-texxt {
    display: none;
}

.text-item {
    display: flex; 
    gap: 30px;
}

.main-item:before {
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/icon-antena.png);
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.main-item:nth-child(2)::before {
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/icon-clock.png);
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.main-item:nth-child(3)::before {
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/icon-diagram.png);
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.main-item:nth-child(4)::before {
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/icon-astronaut.png);
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.texxt {
    font-weight: 700;
    font-size: 14px;
    transition: font-size 0.4s ease;
    line-height: 1.14;
    margin-bottom: 10px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.texxt:hover {
    font-size: 16px;
}

.descript-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    font-size: 14px;
    transition: font-size 0.4s ease;
}
 
.work-section {
    padding-bottom: 94px;
}


.work-item {
    font-weight: 700;
    font-size: 36px;
    transition: font-size 0.3s ease;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

}
.work-item:hover {
    font-size: 40px;
}

.text-workkk {
    display: flex;
    gap: 30px;
}

.works{
    gap: 30px;
    position: relative;
}

.moderning {
    width: 100%;
}

.work-text-posicion {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.work-texttt {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color)
}
  

.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-section);
}

.comand-team{
    font-weight: 700;
    font-size: 36px;
    transition: font-size 0.4s ease;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.comand-team:hover {
    font-size: 40px;
    letter-spacing: 0.06em;
}
.comand-lists {
    display: flex;
    max-width: 1170px;
    gap: 30px;
}
.workk-itemm {
    border-radius: 0px 0px 4px 4px;
    background-color: var(--accent-color);
    transition: margin-top 0.4s ease;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}


.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-job {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.social-flex {
    margin-top: 16px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.icon-button {
    background-color: var(--networks-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0.35em;
    border-radius: 50%; 

    .icon-button_icon {
        height: 20px;
        width: 20px;
        fill: var(--social-networks);
    }
}

.icon-button:hover,
.icon-button:focus {
    border: none;
    outline: 0px solid var(--additional-accent);
    background-color: var(--additional-accent);
    .icon-button_icon {
        border: none;
        height: 20px;
        width: 20px;
        fill: var(--accent-color);
    }

}


.section-customers {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--accent-color);
}

.customers-text {
    text-align: center;
}


.list-svg {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    fill: var(--social-networks);
}



.customers-svg {
    flex-shrink: 0;
    width: 170px;
    height: 90px;

}



.icon-buttonn {
    fill: var(--social-networks);
    border: 1px solid var(--social-networks);
    width: 170px;
    height: 90px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.icon-buttonn:hover,
.icon-buttonn:focus {
    border: none;
    fill: var(--additional-accent);
    outline: 1px solid var(--additional-accent);
}
    


footer {
    background-color: var(--footer);
    padding-top: 60px;
    padding-bottom: 60px;
    
}

footer>.container {
    display: flex;
    align-items: first baseline;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.blue-Web {
    color: var(--additional-accent);
}

.easy-boom {
    display: flex;
}

.list-footer {
    width: 231px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-mailtro {
    margin-top: 9px;
    margin-bottom: 9px;
}

.footer-mailtro:last-child {
    margin-bottom: 0;
}

.box-second {
    margin-left: 70px;
}

.list-join {
    gap: 10px;
    display: flex;
    margin-top: 20px;

}

.text-join {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}



.icon-buttont {
    background-color: var(--networks-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0.35em;
    border-radius: 50%; 
}

.icon-buttont:hover,
.icon-buttont:focus {
    border: none;
    outline: 0px solid var(--additional-accent);
    background-color: var(--additional-accent);
}
.icon-online {
    height: 20px;
    width: 20px;
    fill: var(--accent-color);
}

.footer-cont {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--text-color);
    
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--accent-color);
}

.list-info {
    margin-left: 93px;
}

.box-form {
    margin-left: 93px;
}

.subscribe-link {
    margin-bottom: 20px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.flex-form {
    display: flex;
}

.flex-button {
    display: flex;
    display: block;
}

.input {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 162px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.text-input {
    background: rgba(33, 150, 243, 0.00);
    border: none;
}


.button-link {
    margin-left: 12px;
    gap: 10px;
    padding: 10px 28px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.svg-telegram {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: var(--accent-color);
}







.backdrop {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
 }

 .is-hidden {
    opacity: 0;
    pointer-events: none;
 }

 .modal {
    position: relative;
    padding: 40px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);

 }

 .modal-title {
    margin-bottom: 12px;
    color: #212121;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
 }
 
 .label-modal {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    display: block;
    margin-bottom: 4px;
 }


.wrapper {
    position: relative;
}

 .input-modal {
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 10px;
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    fill: #000000;
 }

 .input-modal:hover, 
 .input-modal:focus {
    padding-right: 41px;
    padding-left: 41px;
    border: none;
    outline: 1px solid var(--additional-accent);
 }

 
.input-modal:hover + .input-icon,
.input-modal:focus + .input-icon {
    fill: var(--additional-accent);
}


 .input-icon {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
 }

.label-comment {
    display: block;
    margin-bottom: 4px;
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.text-comment {
    resize: none;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    color: rgba(117, 117, 117, 0.50);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.text-comment:hover,
.text-comment:focus {
    border: none;
    outline: 1px solid var(--additional-accent);
    padding: 13px 17px;
}

.label-wrapper {
    justify-content: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-box {
    width: 16px;
    height: 15px;

}

.text-checked {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

.link-modal {
    color: var(--additional-accent);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.modal-button {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    padding: 10px 52px;
    border-radius: 4px;
    background: var(--additional-accent);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    margin-top: 30px;
    margin-left: 124px;
    margin-right: 124px;
}
.modal-button:hover,
.modal-button:focus {
    border: none;
    outline: 0px solid red;
}

.button-closee {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid grey;

}

.button-closee:hover,
.button-closee:focus {
    fill: var(--additional-accent);
    border: none;
    outline: 1px solid var(--web-studio);
}

.icon-close {
    width: 18px;
    height: 18px;
}