@import "./base/reset";
@import "./base/root";
@import "./base/coman";
@import "./base/container";
@import "./section/header";
@import "./section/hero";
@import "./section/text";
@import "./section/work";
@import "./section/team";
@import "./section/customers";
@import "./section/footer";
@import "./section/backdrop";
@import "./section/portfolio";