:root {
    --backgroung-color: #FFF;
    --accent-color:  #FFFFFF;
    --additional-accent: #2196F3;
    --text-color: #757575;
    --footer: #2F303A;
    --background-section: #F5F4FA;
    --head-text: #212121;
    --href-moments: #2196F3;
    --web-studio: #000000; 
    --social-networks: #AFB1B8;
    --networks-background: rgba(255, 255, 255, 0.10);

}


body {
    font-family: 'Roboto';
    color: var(--head-text);
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
address {
    font-style: normal;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
  
header {
  border-bottom: 2px solid #ECECEC;
  padding-bottom: 24px;
  padding-top: 24px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: center;  
}
.nav{
    display: flex;
}

.logo-blue {
    color: var(--additional-accent);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--body-text-color);
}
.ul-list {
    display: flex;
    align-items: center;
    margin-left: 93px;
    gap: 50px;
}

.ul-easy:last-child{
    margin-right: 0;
}

.give-me-a-fire {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--head-text);
}
  
.give-me-a-fire:hover,
.give-me-a-fire:focus {
    color: var(--additional-accent);
}

.active {
    color: var(--additional-accent);
}

.freedom {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 50px;
}

.logo-email {
    fill: var(--text-color);
    width: 16px;
    height: 12px;

}

.contact-texts {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-contact {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);

}

.logo-phone {
    fill: var(--text-color);
    width: 10px;
    height: 16px;
}



.header-contact:hover,
.header-contact:focus {
  color: var(--href-moments);
.logo-email {
    fill: var(--additional-accent);
    width: 16px;
    height: 12px;
}
.logo-phone {
    fill: var(--additional-accent);
}
}


.main-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}


.button-item {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--head-text);
    background-color: #f5f4fa;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 6px 22px;
}

.button-item:hover,
.button-item:focus {
  color: var(--accent-color);
  background-color: var(--additional-accent);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.b {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.card-item {
    flex-basis: calc((100% - 60px) /3 );
}

.card-item:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.card-item div{
    padding: 20px 24px;  
}

.card-frame {
    border-left: 1px solid
  #EEEEEE;
    border-right: 1px solid 
  #EEEEEE;
    border-bottom: 1px solid 
  #EEEEEE;
    
}

.card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--head-text);
}

.card-description {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin-top: 4px;
    color: var(--link-color);
}







footer {
    background-color: var(--footer);
    padding-top: 60px;
    padding-bottom: 60px;
    
}


.loggo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.blue-Web {
    color: var(--additional-accent);
}

.easy-boom {
    display: flex;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-mailtro {
    margin-top: 9px;
    margin-bottom: 9px;
}

.footer-mailtro:last-child {
    margin-bottom: 0;
}

.list-join {
    margin-left: 70px;
    display: flex;
    margin-top: 9px;
}

.text-join {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.svg-flex {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}


.icon-buttont {
    background-color: var(--networks-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0.35em;
    border-radius: 50%; 
}

.icon-buttont:hover,
.icon-buttont:focus {
    background-color: var(--additional-accent);
}
.icon-online {
    height: 20px;
    width: 20px;
    fill: var(--accent-color);
}

.footer-cont {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--text-color);
    
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--accent-color);
}

.list-info {
    margin-left: 93px;
}

.subscribe-link {
    margin-bottom: 20px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.flex-button {
    display: flex;
}

.input {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 158px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.text-input {
    background: rgba(33, 150, 243, 0.00);
    border: none;
}


.button-link {
    margin-left: 12px;
    gap: 10px;
    padding: 10px 28px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.svg-telegram {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: var(--accent-color);
}