.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-backdrop;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);



  &__modal {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);
    position: relative;
    padding: 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    background: $backgroung-color;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
      width: 450px;
      height: 609px;
    
      @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
      }

  }


  &__title {
    margin-bottom: 12px;
    color: $title-back;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: calc(30 / 20);
    letter-spacing: 0.6px;

    @media screen and (min-width: 1200px) {
      line-height: calc(23 / 20);
    }
  }

  &__label {
    color: $text-color;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    display: block;
    margin-bottom: 4px;
    line-height: calc(14 / 12);
  }

  &__wrapper {
    position: relative;
  }
  &__input {
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 10px;
    width: 100%;
    line-height: calc(14 / 12);
    height: 40px;
    border-radius: 4px;
    outline: 1px solid $outline-form;
    border: none;
    background-color: $backgroung-color;
    fill: $web-studio;
    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      padding-right: 41px;
      padding-left: 41px;
      border: none;
      outline: 1px solid $additional-accent;
    }

    &:hover + .backdrop__icon,
    &:focus + .backdrop__icon {
      fill: $additional-accent;
    }
  }

  &__icon {
    position: absolute;
    fill: $head-text;
    top: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__comment {
    display: block;
    margin-bottom: 4px;
    color: $text-color;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
  }

  &__text {
    background-color: $backgroung-color;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    border-radius: 4px;
    border: none;
    outline: 1px solid $social-networks;
    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    line-height: calc(16 / 14);

    @media screen and (min-width: 1200px) {
      font-size: 12px;
      line-height: calc(14 / 12);
    }

    &:hover,
    &:focus {
      border: none;
      outline: 1px solid $additional-accent;
    }
  }

  &__wrapperr {
    justify-content: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: calc(14 / 12);
	
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: calc(24 / 14);
    }

  
  }

  &__box {
    width: 16px;
    height: 15px;
  }

  &__checked {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;

    
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  &__links {
    color: $additional-accent;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    line-height: calc(24 / 14);

    
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  &__button {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    padding: 10px 52px;
    border-radius: 4px;
    background: $additional-accent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    margin-top: 30px;
    margin-left: 84px;
    margin-right: 84px;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px){
      margin-left: 124px;
      margin-right: 124px;
    }

    &:hover,
    &:focus {
      border: none;
      outline: 0px solid red;
      background: $text-color;
    }
  }

  &__closee {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    outline: 1px solid grey;
    transition-property: fill, outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: $additional-accent;
      border: none;
      outline: 1px solid $web-studio;

      .backdrop__close {
        transform: rotate(180deg);
      } 
    }
  }

  &__close {
    width: 18px;
    height: 18px;
    transition:  transform 0.4s ease;
  }
}


  

