



footer {
    background-color: var(--footer);
    padding-top: 60px;
    padding-bottom: 60px;
    
}

footer>.container {
    display: flex;
    align-items: first baseline;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.blue-Web {
    color: var(--additional-accent);
}

.easy-boom {
    display: flex;
}

.list-footer {
    width: 231px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-mailtro {
    margin-top: 9px;
    margin-bottom: 9px;
}

.footer-mailtro:last-child {
    margin-bottom: 0;
}

.box-second {
    margin-left: 70px;
}

.list-join {
    gap: 10px;
    display: flex;
    margin-top: 20px;

}

.text-join {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}



.icon-buttont {
    background-color: var(--networks-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0.35em;
    border-radius: 50%; 
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-buttont:hover,
.icon-buttont:focus {
    border: none;
    outline: 0px solid var(--additional-accent);
    background-color: var(--additional-accent);
}
.icon-online {
    height: 20px;
    width: 20px;
    fill: var(--accent-color);
}

.footer-cont {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--text-color);
    
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--accent-color);
}

.list-info {
    margin-left: 93px;
}

.box-form {
    margin-left: 93px;
}

.subscribe-link {
    margin-bottom: 20px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.flex-form {
    display: flex;
}

.flex-button {
    display: flex;
    display: block;
}

.input {
    width: 363px;
    height: 50px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.text-input {
    background: rgba(33, 150, 243, 0.00);
    border: none;
}


.button-link {
    margin-left: 12px;
    gap: 10px;
    padding: 10px 28px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.svg-telegram {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: var(--accent-color);
}


