

.header {

    background-color: $accent-color;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    
  @media screen and (min-width: 768px) {
    padding: 26px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 25px 0;
  }

    &__box {
        @include flex-box ($wrap:nowrap,$justify:flex-start);
    }

    &__logos {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.19;
        letter-spacing: 0.72px;
        color: $web-studio;
        transition: margin-right 0.4s ease;
        margin-right: auto;

        @media screen and (min-width:768px){
           margin-right: 88px; 
        }
        @media screen and (min-width:1200px){
            margin-right: 93px;
            font-size: 26px;
            letter-spacing: 0.78px;
        }
    }

    &__span {
        color: $href-moments;
        animation: textColorChange 3s infinite;

        @keyframes textColorChange {
            0% {
                color: $href-moments; 
            }
            50% {
                color: $head-text; 
            }
            100% {
                color: $href-moments; 
            }
        }
    }
    &__studio {
        animation: textColorChangee 3s infinite; 
        color: $head-text;

        @keyframes textColorChangee {
            0% {
                color: $head-text;
            }
            50% {
                color: $href-moments; 
            }
            100% {
                color: $head-text; 
            }
        }
    }

    &__navigation{
        display: none;
        margin-right: auto;

        @media screen and (min-width: 768px) {
            display: flex;
          }
    }

    &__list {
        gap: 50px;
        display: flex;
        @include flex-box ($wrap:nowrap,$justify:flex-start);

    }

    &__caption{
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $head-text;
    }
    
    &__caption:active {
        color: $additional-accent;
    }


    
    &__link {
        font-family: "Roboto", sans-serif;
        color: $head-text;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $href-moments;
            font-weight: 700;
        }
    }

    &__active {
        color: $additional-accent;
    }

    &__active::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: $additional-accent;
        border-radius: 2px;
        display: block;
        margin-top: 0px;
        position: absolute;
        transition: 0.3s ease;
        transition-timing-function: ease-in-out;
        transform: scaleX(1);

        @media screen and (min-width: 768px){
            margin-top: 35px;
          }

          @media screen and (min-width: 1200px){
            margin-top: 33.5px;
          }

        &:hover::after {
            transform: scaleX(0);
        }
    }


    &__label {
        margin-left: 50px;
      height: 40px;
      width: 100px;
      background-color: #ffffff;
      border-radius: 30px;
      -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
        inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
        inset 0 0 0 3px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
        inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
        inset 0 0 0 3px rgba(0, 0, 0, 0.3);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      -webkit-transition: -webkit-transform 0.4s;
      transition: -webkit-transform 0.4s;
      transition: transform 0.4s;

      &:hover {
        -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
        transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
      }

      #checkbox:checked ~ .header__label:hover {
        -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
        transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
      }



      @media screen and (min-width: 768px){
        display: none;
      }

      @media screen and (min-width: 1200px){
        display: flex;
      }
      
    }
    
&__label::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #000000;
    background-image: linear-gradient(
      130deg,
      #757272 10%,
      #ffffff 11%,
      #726f6f 62%
    );
    left: 10px;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3),
      10px 10px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.4s;
    transition: 0.4s;

    
  }

  #checkbox:checked ~ &__label::before {
    left: 70px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  #checkbox {
    display: none;
  }
  &__description {
    display: none;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 50px;
      }

      

}
   
&__text {
    gap: 10px;
    position: relative;
    @include flex-box ($wrap:nowrap,$justify:flex-start);
}



&__contact {
    font-family: "Roboto", sans-serif;
    @include flex-box ($wrap:nowrap,$justify:flex-start);
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: $href-moments;
    .header__email {
        fill: $additional-accent;
        width: 16px;
        height: 12px;
    }
    .header__phone {
        fill: $additional-accent;
    }
    }
}

&__email {
    fill: $text-color;
    width: 16px;
    height: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


&__address::after {
    content: "";
    width: 135px;
    height: 4px;
    background-color: $text-color;
    border-radius: 2px;
    display: block;
    margin-top: 0px;
    position: absolute;
    margin-top: 2px;
    animation: underline-animation 3s infinite;

    @media screen  and (min-width:768px){
        height: 2px;
    }
}

&__phone {
    fill: $text-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 10px;
    height: 16px;
}

&__number::after {
    content: "";
    width: 122px;
    height: 4px;
    background-color: $text-color;
    border-radius: 2px;
    display: block;
    margin-top: 0px;
    position: absolute;
    margin-top: 2px;
    animation: underline-animation 3s infinite; 

    @media screen  and (min-width:768px){
        height: 2px;
    }

    @keyframes underline-animation {
        0% {
            background-color: $accent-color; 
        }
        50% {
            background-color: $text-color; 
        }
        100% {
            background-color:$accent-color; 
        }
    }
}

}
 
.s {
    @media screen and (min-width: 768px){
      display: none;  

      top: 0;
      right: 0;
    }
}




.header__button {
  border: none;
  background-color: transparent;
  @media screen and (min-width:768px) {
    display: none;
  }
}
.header__menu {
  width: 40px;
    height: 60px;

}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  padding: 48px 40px;
  opacity: 1;
  background-color: white;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.menu__btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu__close {
  width: 40px;
  height: 40px;
  fill: #000000;

}
.menu__btn:hover {
  .menu__close {
fill: black;
  }
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.menu__link {

    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 1.17;
}
.menu__link:hover {

}

.ssw {
    position: absolute;
    bottom: 48px;
}

.menu__list-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;

margin-bottom: 64px;
}
.menu__link-contact {

    font-size: 24px;
    font-weight: 500;
    line-height: 1.08;
    letter-spacing: 0.48px;
    
}
.menu__item-contact:first-child > .menu__link-contact {

    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.68px;
}