
.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
  
      url(../images/mobile/hero-mobile@1x.jpg);
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(  rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url(/images/mobile/hero-mobile@2x.jpg);
      }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
  
  
    @media screen and (min-width:768px){
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
  
      url(/images/tablet/hero-tablet@1x.jpg);
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(  rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-tablet@2x.jpg);
      }
    }
  
  
    
  
  
  
  
    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
  
  
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
  
      url(../images/deskstop/hero-desktop@1x.jpg);
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(  rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url(../images/deskstop/hero-desktop@2x.jpg);
      }
    }
  
    

&__main {
    width: 100%;
    margin:0 auto ;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: $accent-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation: shadowChange 4s infinite alternate;

    @media screen and (min-width: 480px) {
        width: 360px;  
      
        }


      @media screen and (min-width: 1200px){
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 2.64px;
        width: 696px;
      }

    

@keyframes shadowChange {
    0% {
        text-shadow: 0 0 10px  #1E252B;
    }
    50% {
        text-shadow: 0 0 8px #ffffff; 
    }
}

    &:hover {
        color: $text-color;
    
    }
}


&__order {
    font-family: "Roboto";
    @extend %weight;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    width: 100%;
    border-radius: 4px;
    transition: border-radius 0.4s ease;
    background-color: $additional-accent;
    color: $accent-color;
    padding: 10px 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation: breathing 3s infinite ease-in-out;
    cursor: pointer;

    
   
    @media screen and (min-width: 480px) {
        width: 200px;
    }

   
    @media screen and (min-width: 768px) {
        padding: 10px 24px;
    }

    
    @media screen and (min-width: 1200px) {
        padding: 10px 32px;
    }

    &:hover,
&:focus {
  background-color: $accent-color;
  color: $additional-accent; 
}

@keyframes breathing {
    0%, 100% {
        width: 217px;
    }
    50% {
        width: 250px;
    }
}

}

}







