


.main {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #ECECEC;
    background-color: $backgroung-color;

    @media screen  and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 50px;
        gap: 8px;
        flex-wrap: wrap;

        @media screen and (min-width: 768px){
            flex-wrap: nowrap;
            justify-content: center;
        }
    }
    
    &__link {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: $btn-text;
        background-color: #f5f4fa;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        padding: 6px 22px;
        transition-property: color, background-color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
&:focus {
  color: $accent-color;
  background-color: $additional-accent;
  border-radius: 4px;
  border: none;
  outline: 0px solid $accent-color;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

}

&__lists {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: 768px) {
        justify-content: space-between;
       }
}



&__card {
    border-left: 1px solid
    #EEEEEE;
      border-right: 1px solid 
    #EEEEEE;
  
    border-bottom: 1px solid 
    #EEEEEE;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    


    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
      max-width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 60px) / 3);
      max-width: 370px;
    }

    

    
&:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}


&:hover .main__text {
    transform: translateY(0); /* Поднимаем текст вверх при наведении */
    opacity: 1;
}

&:not(:hover) .main__text {
    transform: translateY(100);
    opacity: 1;
}

}
    
&__photo {
    position: relative;
    overflow: hidden;
}

&__description {
    display: block;
    width: 100%;
    height: 294px;

    @media screen and (min-width: 768px){
        height: 100%;
    }

}

&__text {
    width: 100%;
    height: 295px;
    color: $accent-color;
    background: rgba(33, 150, 243, 0.90);
    position: absolute;
    padding: 63px 24px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.54px;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


&__frame {

  padding: 20px 24px;  
    
}

&__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $head-text;
}

&__captions {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin-top: 4px;
    color: $text-color;
}


}




