

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-section);

    &__comand{
        font-weight: 700;
        font-size: 36px;
        transition: font-size 0.4s ease;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;

        &:hover {
            font-size: 40px;
            letter-spacing: 0.06em;
        }
    }

    &__lists {
        display: flex;
        max-width: 1170px;
        gap: 30px;
    }

    &__work {
        border-radius: 0px 0px 4px 4px;
        background-color: var(--accent-color);
        transition: margin-top 0.4s ease;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    
}

&__work {
    animation: float 3s ease-in-out infinite; /* Плавание */
    /* Чтобы сделать плавание менее монотонным, можно добавить небольшие временные изменения */
    animation-delay: calc(0s + 0s);

    @keyframes float {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px); /* Поднимаем на 10px */
        }
        100% {
            transform: translateY(0);
        }
    }
}

&__work:nth-child(2) {
    animation-delay: 0.4s; /* Задержка для второго элемента */
}

&__work:nth-child(3) {
    animation-delay: 0.8s; /* Задержка для третьего элемента */
}

&__work:nth-child(4) {
    animation-delay: 1.2s; /* Задержка для третьего элемента */
}

&__card {
    padding-top: 30px;
    padding-bottom: 30px;
}

&__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

&__job {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
&__flex {
    margin-top: 16px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

&__button {
    background-color: var(--networks-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0.35em;
    border-radius: 50%; 
    transition-property: background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
&:hover,
&:focus {
    border: none;
    outline: 0px solid var(--additional-accent);
    background-color: var(--additional-accent);
    .team__icon {
        transform: scale(1.1);
        fill: var(--accent-color);
    }


}
}
&__icon {
    fill: var(--social-site);
    width: 20px;
    height: 20px;
}
}


