
.text {
    background-color: $accent-color;
    padding-top: 60px;
    padding-bottom: 60px;
      
        @media screen and (min-width: 1200px){
          padding-top: 94px;
          padding-bottom: 0;
        }


    &__description {
        display: none;
    }
    

    &__item {
        display: flex; 
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    

&__main:before {
    content: "";
    width: 100%;
    height: 120px;
    background-image: url(../images/icon-antena.png);
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;

    @media screen and (min-width: 480px){
        width: 450px;
      }

    @media screen and (min-width: 768px){
        width: 354px;
      }

      @media screen and (min-width: 1200px){
        width: 270px;
      }
}

&__main:nth-child(2)::before {
    content: "";
    background-image: url(../images/icon-clock.png);
}

&__main:nth-child(3)::before {
    content: "";
    background-image: url(../images/icon-diagram.png);
}


&__main:nth-child(4)::before {
    content: "";
    background-image: url(../images/icon-astronaut.png);
}

&__main::before {
    animation: floatVertical 4s ease-in-out infinite; /* Длительность и плавность */
    display: inline-block;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Легкий фон */
    border-radius: 10px; /* Сглаживание краев */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Легкая тень */

    @keyframes floatVertical {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-15px); /* Подъем вверх */
        }
        100% {
            transform: translateY(0); /* Возврат вниз */
        }
    }
}

&__head {
    @extend %font; 
    transition: font-size 0.4s ease;
    line-height: 1.14;
    margin-bottom: 10px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    text-align: center;
    color: $head-text;

    @media screen and (min-width: 768px){
        text-align: start;
    }
    @media screen and (min-width: 1200px){
        text-align: start;
    }


    
&:hover {
    font-size: 16px;
}
}

&__caption {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $text-color;
    font-size: 14px;
    transition: font-size 0.4s ease;

    
    @media screen and (min-width: 480px){
        width: 450px;
      }

    @media screen and (min-width: 768px){
        width: 354px;
      }

      @media screen and (min-width: 1200px){
        width: 270px;
      }
 
}

}








