
.text {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $accent-color;


    &__description {
        display: none;
    }
    

    &__item {
        display: flex; 
        gap: 30px;
    }

    

&__main:before {
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/icon-antena.png);
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

&__main:nth-child(2)::before {
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/icon-clock.png);
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

&__main:nth-child(3)::before {
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/icon-diagram.png);
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}


&__main:nth-child(4)::before {
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/icon-astronaut.png);
    display: block;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

&__main::before {
    animation: floatVertical 4s ease-in-out infinite; /* Длительность и плавность */
    display: inline-block;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Легкий фон */
    border-radius: 10px; /* Сглаживание краев */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Легкая тень */

    @keyframes floatVertical {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-15px); /* Подъем вверх */
        }
        100% {
            transform: translateY(0); /* Возврат вниз */
        }
    }
}

&__head {
    font-weight: 700;
    font-size: 14px;
    transition: font-size 0.4s ease;
    line-height: 1.14;
    margin-bottom: 10px;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    
&:hover {
    font-size: 16px;
}
}

&__caption {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $text-color;
    font-size: 14px;
    transition: font-size 0.4s ease;
}

}








