.work-section {
    padding-bottom: 94px;
    background-color: var(--accent-color);
}


.work-item {
    font-weight: 700;
    font-size: 36px;
    transition: font-size 0.3s ease;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

}
.work-item:hover {
    font-size: 40px;
}

.text-workkk {
    display: flex;
    gap: 30px;
}

.works{
    gap: 30px;
    position: relative;
}



/* Анимация для левого элемента */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Анимация для правого элемента */
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Анимация для центрального элемента */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




.moderning {
    width: 100%;
}

.work-text-posicion {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.work-texttt {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--web-studio)
}
  