.work {
    padding-bottom: 94px;
    background-color: $accent-color;
    display: none;
    padding-top: 94px;


    @media screen and (min-width: 1200px){
        display: block;
    }

    

    &__item {
        font-weight: 700;
        font-size: 36px;
        transition: font-size 0.3s ease;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;

        &:hover {
            font-size: 40px;
        }
        
    }

    &__text {
        display: flex;
        gap: 30px;
    }
    

    &__item{
        gap: 30px;
        position: relative;

        
/* Анимация для левого элемента */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Анимация для правого элемента */
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Анимация для центрального элемента */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
}
    
&__posicion {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

&__text {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $web-studio;
}
  

&__moderning {
    width: 100%;
}


  
}











