
.header__activess {
    color: $additional-accent;

      &::after {
          content: "";
          width: 100%; /* Линия занимает всю ширину родителя */
          height: 4px; /* Высота линии */
          background-color: $additional-accent;
          border-radius: 2px; /* Закругление краев линии */
          display: block;
          position: absolute; /* Абсолютное позиционирование */
          left: 0;
          transform: scaleX(1); /* Начальное состояние — линия видна */
          top: 51px;
          transition: transform 0.3s ease-in-out; /* Плавная анимация */
      }
  
      &:hover::after {
          transform: scaleX(0); /* Линия исчезает */
      }
  }
  


.program {
    background-color: $backgroung-color;
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 2px solid #ffffff3a;
    border-bottom: 2px solid #ffffff3a;

    &__wrap {
        display: flex;
        align-items: stretch;
        justify-content: initial;
        gap: 20px;
        position: relative;

        @media screen and (min-width: 768px){
            gap: 70px; 
        }
    }


    &__item {
        display: flex;
        flex-direction: column;
        gap: 30px;

    }


    &__buttonn {
        fill: $social-networks;
        border: 1px solid $social-networks;
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        flex-shrink: 0;
        border: none;
        outline: 1px solid $social-networks;
        transition-property: fill, outline;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        @media screen and (min-width: 768px){
            width: 200px;
            height: 200px; 
        }
    
    
        &:hover,
    &:focus {
        border: none;
        fill: $additional-accent;
        outline: 1px solid $additional-accent;
    }
    
    }
    
    &__svg {
        max-width: 200px;
        max-height: 100px;

        @media screen and (min-width: 768px){
            max-height: 200px;
        }
    }


    &__discount {
        color: $additional-accent;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;

    
        &:hover {
            color: #FFF;
          }
      }
      
    
      &__button {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;

        @media screen and (min-width: 768px){
            gap: 50px; 
        }
      }
    
      &__like {
        border-radius: 8px;
        padding: 7px;
        background: #1E252B;
        border: none;
    
        &:hover {
            background: #283036;
            box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
          }
      }

      &__lik {
        border-radius: 8px;
        padding: 7px;
        background: #1E252B;
        border: none;

        &:hover {
        background: #283036;
        box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
        }
  
      }



      &__text {
        font-size: 32px;
        line-height: 30px;
        font-weight: 500;
        font-family: Poppins, sans-serif;
        color: #fff;
        margin-bottom: 10px;

        @media screen and (min-width: 768px){
            font-size: 48px;
            line-height: 62px;
        }
      }
      &__description {
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        font-family: Poppins, sans-serif;
        color: #FFFFFF88;
        overflow: auto;
        height: 90px;

      }

      &__buttons {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        font-family: Poppins, sans-serif;
        border-radius: 8px;
        background-color: #FFF;
        color: black;
        padding: 12px 28px;
        border: 1px solid transparent;
        scale: (1.0);
        transition: scale 0.4s ease;

        &:hover {
            scale: (1.1);
        }
      }

      &__link {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    
}









