@charset "UTF-8";
address {
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

.footer__subscribe, .footer__join, .text__head {
  font-size: 14px;
  font-weight: 700;
}

.footer__buttonlink, .hero__order {
  font-size: 16px;
  font-weight: 700;
}

body {
  font-family: "Roboto";
  color: var(--head-text);
  background-color: var(--background-color);
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container .element-animation {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.element-animation.element-show {
  opacity: 1;
  transition: opacity 0.5s;
}

section {
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Видимые секции */
section.visible {
  opacity: 1;
  transform: translateY(0);
}

header, footer {
  opacity: 0;
  transform: translateY(0px); /* Начальная позиция */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

header.visible, footer.visible {
  opacity: 1;
  transform: translateY(0); /* Позиция при видимости */
}

.header {
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}
.header__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__logos {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.72px;
  color: #FFF;
  transition: margin-right 0.4s ease;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header__logos {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logos {
    margin-right: 93px;
    font-size: 26px;
    letter-spacing: 0.78px;
  }
}
.header__span {
  color: #2196F3;
  animation: textColorChange 3s infinite;
}
@keyframes textColorChange {
  0% {
    color: #2196F3;
  }
  50% {
    color: #212121;
  }
  100% {
    color: #2196F3;
  }
}
.header__studio {
  animation: textColorChangee 3s infinite;
  color: #212121;
}
@keyframes textColorChangee {
  0% {
    color: #212121;
  }
  50% {
    color: #2196F3;
  }
  100% {
    color: #212121;
  }
}
.header__navigation {
  display: none;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header__navigation {
    display: flex;
  }
}
.header__list {
  gap: 50px;
  display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__caption {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header__caption:active {
  color: #2196F3;
}
.header__link {
  font-family: "Roboto", sans-serif;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196F3;
  font-weight: 700;
}
.header__active {
  color: #2196F3;
}
.header__active::after {
  content: "";
  width: 100%; /* Линия занимает всю ширину родителя */
  height: 4px; /* Высота линии */
  background-color: #2196F3;
  border-radius: 2px; /* Закругление краев линии */
  display: block;
  position: absolute; /* Абсолютное позиционирование */
  left: 0;
  transform: scaleX(1); /* Начальное состояние — линия видна */
  top: 49.5px;
  transition: transform 0.3s ease-in-out; /* Плавная анимация */
}
.header__active:hover::after {
  transform: scaleX(0); /* Линия исчезает */
}
.header__label {
  margin-left: 50px;
  height: 40px;
  width: 100px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: inset 0 0 5px 4px rgb(255, 255, 255), inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096), inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s;
}
.header__label:hover {
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}
.header__label #checkbox:checked ~ .header__label:hover {
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}
@media screen and (min-width: 768px) {
  .header__label {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__label {
    display: flex;
  }
}
.header__label::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000000;
  background-image: linear-gradient(130deg, #757272 10%, #ffffff 11%, #726f6f 62%);
  left: 10px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}
#checkbox:checked ~ .header__label::before {
  left: 70px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
  transition: 0.4s;
}
.header #checkbox {
  display: none;
}
.header__description {
  display: none;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__description {
    flex-direction: row;
    gap: 50px;
  }
}
.header__text {
  gap: 10px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__contact {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact:hover, .header__contact:focus {
  color: #2196F3;
}
.header__contact:hover .header__email, .header__contact:focus .header__email {
  fill: #2196F3;
  width: 16px;
  height: 12px;
}
.header__contact:hover .header__phone, .header__contact:focus .header__phone {
  fill: #2196F3;
}
.header__email {
  fill: #757575;
  width: 16px;
  height: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__address::after {
  content: "";
  width: 135px;
  height: 4px;
  background-color: #757575;
  border-radius: 2px;
  display: block;
  margin-top: 0px;
  position: absolute;
  margin-top: 2px;
  animation: underline-animation 3s infinite;
}
@media screen and (min-width: 768px) {
  .header__address::after {
    height: 2px;
  }
}
.header__phone {
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 10px;
  height: 16px;
}
.header__number::after {
  content: "";
  width: 122px;
  height: 4px;
  background-color: #757575;
  border-radius: 2px;
  display: block;
  margin-top: 0px;
  position: absolute;
  margin-top: 2px;
  animation: underline-animation 3s infinite;
}
@media screen and (min-width: 768px) {
  .header__number::after {
    height: 2px;
  }
}
@keyframes underline-animation {
  0% {
    background-color: #FFFFFF;
  }
  50% {
    background-color: #757575;
  }
  100% {
    background-color: #FFFFFF;
  }
}

@media screen and (min-width: 768px) {
  .s {
    display: none;
    top: 0;
    right: 0;
  }
}

.header__button {
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__menu {
  width: 40px;
  height: 60px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  padding: 48px 40px;
  opacity: 1;
  background-color: white;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.menu__btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu__close {
  width: 40px;
  height: 40px;
  fill: #000000;
}

.menu__btn:hover .menu__close {
  fill: black;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.menu__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 1.17;
}

.menu__link:hover {
  color: #2196F3;
}

.ssw {
  position: absolute;
  bottom: 50px;
}

.menu__list-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.menu__link-contact {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.08;
  letter-spacing: 0.48px;
}

.menu__item-contact:first-child > .menu__link-contact {
  color: #2196F3;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.68px;
}

.menu__item-contact:last-child > .menu__link-contact {
  color: #757575;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.menu__list-social {
  display: flex;
  flex-wrap: wrap;
}

.menu__link-social {
  color: #2196F3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
}

.menu__item-social:not(:last-child) {
  margin-right: 10px;
  display: flex;
}

.menu__item-social:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  background: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/photohero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__main {
  width: 100%;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #FFFFFF;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation: shadowChange 4s infinite alternate;
}
@media screen and (min-width: 480px) {
  .hero__main {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__main {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    width: 696px;
  }
}
@keyframes shadowChange {
  0% {
    text-shadow: 0 0 10px #1E252B;
  }
  50% {
    text-shadow: 0 0 8px #ffffff;
  }
}
.hero__main:hover {
  color: #757575;
}
.hero__order {
  font-family: "Roboto";
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  width: 100%;
  border-radius: 4px;
  transition: border-radius 0.4s ease;
  background-color: #2196F3;
  color: #FFFFFF;
  padding: 10px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation: breathing 3s infinite ease-in-out;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .hero__order {
    width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .hero__order {
    padding: 10px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__order {
    padding: 10px 32px;
  }
}
.hero__order:hover, .hero__order:focus {
  background-color: #FFFFFF;
  color: #2196F3;
}
@keyframes breathing {
  0%, 100% {
    width: 217px;
  }
  50% {
    width: 250px;
  }
}

.text {
  background-color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .text {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
.text__description {
  display: none;
}
.text__item {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.text__main:before {
  content: "";
  width: 100%;
  height: 120px;
  background-image: url(../images/icon-antena.png);
  display: block;
  border-radius: 4px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .text__main:before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .text__main:before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .text__main:before {
    width: 270px;
  }
}
.text__main:nth-child(2)::before {
  content: "";
  background-image: url(../images/icon-clock.png);
}
.text__main:nth-child(3)::before {
  content: "";
  background-image: url(../images/icon-diagram.png);
}
.text__main:nth-child(4)::before {
  content: "";
  background-image: url(../images/icon-astronaut.png);
}
.text__main::before {
  animation: floatVertical 4s ease-in-out infinite; /* Длительность и плавность */
  display: inline-block;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Легкий фон */
  border-radius: 10px; /* Сглаживание краев */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Легкая тень */
}
@keyframes floatVertical {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Подъем вверх */
  }
  100% {
    transform: translateY(0); /* Возврат вниз */
  }
}
.text__head {
  transition: font-size 0.4s ease;
  line-height: 1.14;
  margin-bottom: 10px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .text__head {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .text__head {
    text-align: start;
  }
}
.text__head:hover {
  font-size: 16px;
}
.text__caption {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  font-size: 14px;
  transition: font-size 0.4s ease;
}
@media screen and (min-width: 480px) {
  .text__caption {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .text__caption {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .text__caption {
    width: 270px;
  }
}

.work {
  padding-bottom: 94px;
  background-color: #FFFFFF;
  display: none;
  padding-top: 94px;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__item {
  font-weight: 700;
  font-size: 36px;
  transition: font-size 0.3s ease;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.work__item:hover {
  font-size: 40px;
}
.work__text {
  display: flex;
  gap: 30px;
}
.work__item {
  gap: 30px;
  position: relative;
  /* Анимация для левого элемента */
  /* Анимация для правого элемента */
  /* Анимация для центрального элемента */
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.work__posicion {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.work__text {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFF;
}
.work__moderning {
  width: 100%;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__comand {
  font-weight: 700;
  font-size: 36px;
  transition: font-size 0.4s ease;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}
.team__comand:hover {
  font-size: 40px;
  letter-spacing: 0.06em;
}
.team__lists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.team__work {
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  transition: margin-top 0.4s ease;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  animation: float 3s ease-in-out infinite;
  animation-delay: 0s;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Поднимаем на 10px */
  }
  100% {
    transform: translateY(0);
  }
}
.team__work:nth-child(2) {
  animation-delay: 0.4s;
}
.team__work:nth-child(3) {
  animation-delay: 0.8s;
}
.team__work:nth-child(4) {
  animation-delay: 1.2s;
}
.team__photos {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .team__photos {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .team__photos {
    width: 354px;
    height: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__photos {
    width: 270px;
    height: 260px;
  }
}
.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: #212121;
}
.team__job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.team__flex {
  margin-top: 16px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__button {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0.35em;
  border-radius: 50%;
  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__button:hover, .team__button:focus {
  border: none;
  outline: 0px solid #2196F3;
  background-color: #2196F3;
}
.team__button:hover .team__icon, .team__button:focus .team__icon {
  transform: scale(1.1);
  fill: #FFFFFF;
}
.team__icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.customers__text {
  text-align: center;
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: normal;
  letter-spacing: 0.84px;
}
@media screen and (min-width: 1200px) {
  .customers__text {
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.customers__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  fill: #AFB1B8;
}
.customers__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: calc((100% - 150px) / 6);
  }
}
.customers__buttonn {
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  flex-shrink: 0;
  border: none;
  outline: 1px solid #AFB1B8;
  transition-property: fill, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__buttonn:hover, .customers__buttonn:focus {
  border: none;
  fill: #2196F3;
  outline: 1px solid #2196F3;
}
.customers__svg {
  max-width: 106px;
  max-height: 60px;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: first baseline;
  }
}
@media screen and (min-width: 768px) and (min-width: 480px) {
  .footer > .container {
    align-items: first baseline;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .footer > .container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer > .container {
    text-align: left;
    flex-wrap: nowrap;
  }
}
.footer__addresss {
  display: flex;
}
.footer__list {
  width: 231px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .footer__list {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__list {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list {
    text-align: left;
  }
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__logotype {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFF;
}
.footer__Web {
  color: #2196F3;
}
.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #FFF;
}
.footer__mailtro {
  margin-top: 9px;
  margin-bottom: 9px;
}
.footer__mailtro:last-child {
  margin-bottom: 0;
}
.footer__contain {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #757575;
}
.footer__second {
  margin-top: 60px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .footer__second {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__second {
    text-align: center;
    margin-left: 165px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__second {
    text-align: left;
    margin-left: 70px;
  }
}
.footer__join {
  color: #FFF;
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__wrap {
  gap: 10px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    justify-content: flex-start;
  }
}
.footer__buttont {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0.35em;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__buttont:hover, .footer__buttont:focus {
  border: none;
  outline: 0px solid #2196F3;
  background-color: #2196F3;
}
.footer__online {
  height: 20px;
  width: 20px;
  fill: #FFFFFF;
}
.footer__form {
  text-align: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__form {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    text-align: left;
    margin-left: 93px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__button {
    display: flex;
  }
}
.footer__subscribe {
  margin-bottom: 20px;
  color: #FFF;
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__forms {
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer__forms {
    display: flex;
  }
}
.footer__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
}
.footer__flexing {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (min-width: 480px) {
  .footer__flexing {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer__flexing {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__flexing {
    display: block;
    margin-top: 0;
    justify-content: flex-start;
  }
}
.footer__buttonlink {
  margin-left: 12px;
  gap: 10px;
  padding: 10px 28px;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.footer__telegram {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #FFFFFF;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__modal {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
  position: relative;
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 480px) {
  .backdrop__modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
    height: 581px;
  }
}
.backdrop__title {
  margin-bottom: 12px;
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.6px;
}
@media screen and (min-width: 1200px) {
  .backdrop__title {
    line-height: 1.15;
  }
}
.backdrop__label {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  display: block;
  margin-bottom: 4px;
}
.backdrop__wrapper {
  position: relative;
}
.backdrop__input {
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  background-color: #FFF;
  fill: #FFF;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__input:hover, .backdrop__input:focus {
  padding-right: 41px;
  padding-left: 41px;
  border: none;
  outline: 1px solid #2196F3;
}
.backdrop__input:hover + .backdrop__icon, .backdrop__input:focus + .backdrop__icon {
  fill: #2196F3;
}
.backdrop__icon {
  position: absolute;
  fill: #212121;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__comment {
  display: block;
  margin-bottom: 4px;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.backdrop__text {
  background-color: #FFF;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  border-radius: 4px;
  border: none;
  outline: 1px solid #AFB1B8;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__text:hover, .backdrop__text:focus {
  border: none;
  outline: 1px solid #2196F3;
}
.backdrop__wrapperr {
  justify-content: center;
  margin-top: 20px;
  display: block;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .backdrop__wrapperr {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__wrapperr {
    font-size: 14px;
  }
}
.backdrop__box {
  width: 16px;
  height: 15px;
}
.backdrop__checked {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
@media screen and (min-width: 1200px) {
  .backdrop__checked {
    font-size: 14px;
    line-height: 1.71;
  }
}
.backdrop__links {
  color: #2196F3;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
@media screen and (min-width: 1200px) {
  .backdrop__links {
    font-size: 14px;
    line-height: 1.71;
  }
}
.backdrop .ds {
  display: flex;
  justify-content: center;
}
.backdrop__button {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 52px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 30px;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__button:hover, .backdrop__button:focus {
  border: none;
  outline: 0px solid red;
  background: #757575;
}
.backdrop__closee {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: 1px solid grey;
  transition-property: fill, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__closee:hover, .backdrop__closee:focus {
  fill: #2196F3;
  border: none;
  outline: 1px solid #FFF;
}
.backdrop__closee:hover .backdrop__close, .backdrop__closee:focus .backdrop__close {
  transform: rotate(180deg);
}
.backdrop__close {
  width: 18px;
  height: 18px;
  transition: transform 0.4s ease;
}

.main {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #ECECEC;
  background-color: #FFF;
}
@media screen and (min-width: 1200px) {
  .main {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.main__list {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
  gap: 8px;
  row-gap: 15px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .main__list {
    flex-wrap: nowrap;
    justify-content: center;
  }
}
.main__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main__link:hover, .main__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  border: none;
  outline: 0px solid #FFFFFF;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.main__lists {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .main__lists {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .main__lists {
    justify-content: flex-start;
  }
}
.main__card {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main__card {
    width: calc((100% - 30px) / 2);
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .main__card {
    width: calc((100% - 60px) / 3);
    max-width: 370px;
  }
}
.main__card:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.main__card:hover .main__text {
  transform: translateY(0); /* Поднимаем текст вверх при наведении */
  opacity: 1;
}
.main__card:not(:hover) .main__text {
  transform: translateY(100);
  opacity: 1;
}
.main__photo {
  position: relative;
  overflow: hidden;
}
.main__description {
  display: block;
  width: 100%;
  height: 294px;
}
@media screen and (min-width: 768px) {
  .main__description {
    height: 100%;
  }
}
.main__text {
  width: 100%;
  height: 295px;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  padding: 80px 24px;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .main__text {
    font-size: 18px;
    padding: 63px 24px;
  }
}
.main__frame {
  padding: 20px 24px;
}
.main__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.main__captions {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
  color: #757575;
}/*# sourceMappingURL=main.css.map */