
body {
    font-family: "Roboto";
    color: var(--head-text);
    background-color: var(--background-color);
}

::-webkit-scrollbar {
    width: 5px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(54, 54, 54);
    // border-radius: 50px;
}

::selection {
    background-color: gray;
    color: white;
}