
    $backgroung-color: #FFF;
    $accent-color:  #FFFFFF;
    $additional-accent: #2196F3;
    $text-color: #757575;
    $footer: #2F303A;
    $background-section: #F5F4FA;
    $head-text: #212121;
    $btn-text: #212121;
    $title-back:#212121;
    $href-moments: #2196F3;
    $web-studio: #000000; 
    $social-networks: #AFB1B8;
    $social-site: #AFB1B8;
    $web-studio: #FFF;
    $networks-background: rgba(255, 255, 255, 0.10);
    $color-backdrop: rgba(0, 0, 0, 0.5);
    $outline-form: rgba(33, 33, 33, 0.2);
    $text-area: rgba(117, 117, 117, 0.5);

    

    // $backgroung-color: #000000;
    // $accent-color:  #000000;
    // $additional-accent: #2196F3;
    // $text-color: #ffffff;
    // $footer: #0c0c0c;
    // $background-section: #151515;
    // $head-text: #ffffff;
    // $btn-text: #212121;
    // $title-back:#ffffff;
    // $href-moments: #2196F3;
    // $web-studio: #ffffff; 
    // $social-networks: #ffffff;
    // $social-site: #000000;
    // $web-studio: #FFF;
    // $networks-background: rgb(255, 255, 255);
    // $outline-form: rgb(255, 255, 255);
    // $text-area: #fff;




